body{
	background-image: url("images/fotboll.png");
	width:100vw;
	height: 100vh;
	justify-content: center;
}

.kant{
	border: 2px solid black;
	border-radius: 5px;
}


.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 40vw;
	height: 10vh;
	background-color: #c7dddf;
	font-size: x-large;
	text-align: center;

}


.option-container{
	display: flex;
	margin: 10px;
	padding: 5px;
	width: 40vw;
	height: 10vh;
	background-color: white;
	justify-content: center;

}
.option{
	list-style: none;
	margin: 5px 10px 0;
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid rgb(5, 0, 4);
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	width: 40vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#c7dddf;
}

.next{
	width: 10vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
	color: white;
	background-color: #BF3325;
	border-radius: 25%;
}

.next:hover{
	background-color: lightgoldenrodyellow;
}

.score {
	width: 10vw;
	height: 8vh;
	padding: 5px;
	text-align: center;
	font-size: larger;
	color: white;
	background-color: #BF3325;
	border-radius: 25%;
}

.score:hover{
	background-color: lightgoldenrodyellow;
}

